
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {
  font-family: "blackoutsunrise", Helvetica, Arial, sans-serif;
  color: #222;
  font-feature-settings: "kern";
}
h2 {
  font-family: "blackoutmidnight", Helvetica, Arial, sans-serif;
  color: #222;
}
h3 {
  font-family: "blackouttwo_am", Helvetica, Arial, sans-serif;
  color: #222;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-weight: 300; }
h1 { font-size: 8.5rem; line-height: 0.9;  letter-spacing: 0;}
h2 { font-size: 5rem; line-height: 0.9; letter-spacing: 0; }
h3 { font-size: 3rem; line-height: 1;  letter-spacing: 0; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: 0; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: 0; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 17vw; }
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #B18AD8; }
a:hover {
  color: #643296; }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  width:100%;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #B18AD8;
  border-color: #B18AD8; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #643296;
  border-color: #643296; }

@media (min-width: 550px) {
  .button { width: auto;}

}

button.xp {
  width: 100%;
  color: #333;
  background: linear-gradient(
    90deg
    , rgba(100, 50, 150, .5) 0%
    , rgba(100, 50, 150, .5) 14%
    , rgba(100, 100, 150, 0) 14%
    , rgba(100, 100, 150, 0) 100%
  );
}

/*Header image
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.doodle {
  background-image: url('../images/deadliftdoodle.svg');
  width: 27vw;
  height: 27vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

/* Maximum Header and Image Break
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1300px) {
  .doodle {
    width: 32rem;
    height: 32rem;
  }
  h1 { font-size: 20rem; }
}
